.nav-item{
    border-left: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
}
.home{
    background-image:
    linear-gradient(to bottom, rgba(96, 120, 255, 0.199), rgba(158, 158, 158, 0.253)),
    url('../assets/nstu.jpg');
    width: 100%;
    min-height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    color: white;
    
  
}
.event-main-page{
    background-image:
    linear-gradient(to bottom, rgba(96, 120, 255, 0.199), rgba(158, 158, 158, 0.253)),
    url('../assets/nstu.jpg');
    width: 100%;
    min-height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    color: white;
}
.event-main-page .dept{
    background-color: rgba(44, 44, 44, 0.671);
    padding: 100px;
}
.event-item a{
    color: black;
    text-decoration: none;
    
}
.sport img{
    height: 150px;
    padding: 5px;
}
.event-item a:hover{
    color: black;
    text-decoration: none;
    box-shadow: 1px black;
    
}
.home .dept{
    background-color: rgba(44, 44, 44, 0.671);
    padding: 100px;
}
.carousel-inner img{
    max-height: 50vh;
}
.event{
    background: rgba(225, 235, 255, 0.644);
    padding: 20px;
}
.events{
    background: rgb(204, 226, 255);
    border-radius: 20px;
}
.vc img{
    
    height: 100px;
    border: 2px solid black;
    border-radius: 100%;
}
.photo-gallary{
    background-color: rgba(208, 255, 208, 0.363);
}
.marquee{
    background:rgba(116, 255, 127, 0.2) ;
    max-height:50px ;
}
marquee ul{
    list-style: none !important;
    display: flex;
    padding-top: 5px;
}
.marquee .news{
    background: rgba(27, 0, 180, 0.76);
}
.marquee-image img{
    width: 200px;
    height: 200px; 
    margin: 5px;
    border: 3px solid rgba(0, 3, 180, 0.507) ;
}
.marquee-image-div{
    background: rgba(0, 250, 5, 0.06) ;
}